venv/
dataset/
output/
.docker-x11/
configs/models/*.runtime_*.yml
models/**/*.engine
models/**/*.onnx
models/**/*.etlt
models/**/*.static_b1.onnx
models/**/*.pt
*.pt
__pycache__/
**/__pycache__/
*.pyc
.git/
